# xcode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
build/*
DerivedData/
*.xcworkspace/

# osx
.DS_Store
profile

# vscode
.vscode/*

# Bundler
.bundle

# Carthage
Carthage

# CocoaPods
Pods/
